body {
  position: relative;
  background-color: #F4E9D3;
  font-family: 'Montserrat', sans-serif;

}

#info, #about, #FAQ, #sponsors, #schedule, #register{
  padding:30px 0 20px 0;
  height:100%;
  text-align: center;
  border-bottom: 1px solid #CCC;
  min-height: 200px}

.hours {
    text-align: right;
}

#events {
    text-align: left;
}


h1 {
  color: #ff6e4a;

}
h2  {
  color: #615d54;
}

h3 {
  color: #869653;
}

p {
  color: #615d54;
}

.navbar-brand {
  padding-left: 50px;
}


.jumbotron {
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
}


.btn-custom {
  background-color: #869653;
}

.btn, .btn-custom a:link {
    color: #fff;

}

.time {
  font-weight: bold;
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .text-right-md {
        text-align: right;
    }
    .text-left-md {
        text-align: left;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .text-right-lg {
        text-align: right;
    }
    .text-left-lg {
        text-align: left;
    }
}
